<section class="splash splash_right">
<div class="wrapper splash__wrapper">
    <div class="splash__content">
    <mark class="coming-soon-mark coming-soon-mark_block">Скоро</mark>

    <header class="heading">
        <h1 class="heading__caption">Авторизация. Достал. Считал. Готово.</h1>
        <p class="heading__description">Авторизуйтесь в приложении за пару секунд. Просто считайте графический ключ с экрана телефона.</p>
    </header>
    </div>

    <img src="assets/images/tv-auth.jpg" srcset="assets/images/tv-auth@2x.jpg 2x, assets/images/tv-auth@3x.jpg 3x" class="splash__image">
</div>
</section>