<section class="splash splash_left karaoke">
<div class="wrapper splash__wrapper">
    <div class="splash__content">
    <mark class="coming-soon-mark coming-soon-mark_block">Скоро</mark>

    <header class="heading">
        <h1 class="heading__caption">Пой вместе со мной! Караоке у вас дома</h1>
        <p class="heading__description">Выведите на экран текст песни и подпевайте любимым артистам.</p>
    </header>

    <div class="ya-translate karaoke__ya-translate">

        <img src="assets/images/ic-translate.png" srcset="assets/images/ic-translate@2x.png 2x, assets/images/ic-translate@3x.png 3x">

        <span class="ya-translate__text">+ перевод песни</span>

    </div>
    </div>

    <img src="assets/images/tv-text.jpg" srcset="assets/images/tv-text@2x.jpg 2x, assets/images/tv-text@3x.jpg 3x" class="splash__image">
</div>
</section>