<section class="splash splash_center party">
<div class="wrapper">
    <header class="heading heading_center">
    <h1 class="heading__caption">Такая музыка понравится всем. Вечеринка у вас дома</h1>
    <p class="heading__description">Представьте себе ситуацию, что к вам пришли гости и нужно разбавить тишину музыкой.  Общий плейлист с любимой музыкой всех участников.</p>
    </header>

    <div class="columns party__list">
    <article class="columns__item">
        <img src="assets/images/pic-key.jpg" srcset="assets/images/pic-key@2x.jpg 2x, assets/images/pic-key@3x.jpg 3x" alt="" class="columns__item-image">

        <header class="columns__item-heading">
        <h2 class="columns__item-caption">Считайте ключ</h2>
        <p class="columns__item-description">Все что нужно сделать, это направить телефон на экран вашего ТВ</p>
        </header>
    </article>

    <article class="columns__item">
        <img src="assets/images/pic-users.jpg" srcset="assets/images/pic-users@2x.jpg 2x, assets/images/pic-users@3x.jpg 3x" alt="" class="columns__item-image">

        <header class="columns__item-heading">
        <h2 class="columns__item-caption">Общий плейлист</h2>
        <p class="columns__item-description">Приложение создаст плейлист, который понравится всем</p>
        </header>
    </article>

    <article class="columns__item">
        <img src="assets/images/pic-music.jpg" srcset="assets/images/pic-music@2x.jpg 2x, assets/images/pic-music@3x.jpg 3x" alt="" class="columns__item-image">

        <header class="columns__item-heading">
        <h2 class="columns__item-caption">Понравится всем</h2>
        <p class="columns__item-description">Наслаждайтесь приятным вечером чуть больше текста</p>
        </header>
    </article>
    </div>
</div>
</section>