<section class="splash splash_left personalization">
<div class="wrapper splash__wrapper">
    <div class="splash__content">
    <mark class="coming-soon-mark coming-soon-mark_block">Скоро</mark>

    <header class="heading">
        <h1 class="heading__caption">Семья. Персонализация</h1>
        <p class="heading__description">Используйте Яндекс.Музыку всей семьей. Персонализируйте свои настройки, переключайтесь между пользователями.</p>
    </header>

    <img src="assets/images/users.jpg" srcset="assets/images/users@2x.jpg 2x, assets/images/users@3x.jpg 3x" class="personalization__users">
    </div>

    <img src="assets/images/tv-users.jpg" srcset="assets/images/tv-users@2x.jpg 2x, assets/images/tv-users@3x.jpg 3x" class="splash__image">
</div>
</section>