<section class="splash splash_center platforms">
<div class="wrapper">
    <header class="heading heading_center">
    <h1 class="heading__caption">Доступно на платформах</h1>
    <p class="heading__description">В связи с этим нужно подчеркнуть, что нота монотонно просветляет звукорядный эффект "вау-вау". Голос представляет собой</p>
    </header>

    <ul class="platforms__list">
    <li class="platforms__list-item">
        <img src="assets/images/tizen.png" srcset="assets/images/tizen@2x.png 2x, assets/images/tizen@3x.png 3x" class="platforms__list-image">
    </li>

    <li class="platforms__list-item platforms__list-item_androidtv">
        <mark class="coming-soon-mark platforms__list-mark">Скоро</mark>
        <img src="assets/images/android-tv.jpg" srcset="assets/images/android-tv@2x.jpg 2x, assets/images/android-tv@3x.jpg 3x" class="platforms__list-image">
    </li>

    <li class="platforms__list-item platforms__list-item_webos">
        <mark class="coming-soon-mark platforms__list-mark">Скоро</mark>
        <img src="assets/images/webos.png" srcset="assets/images/webos@2x.png 2x, assets/images/webos@3x.png 3x" class="platforms__list-image">
    </li>
    </ul>
</div>
</section>