<section class="splash splash_left video-clips">
<div class="wrapper splash__wrapper">
    <div class="splash__content">
    <mark class="coming-soon-mark coming-soon-mark_block">Скоро</mark>

    <header class="heading">
        <h1 class="heading__caption">Смотрите и слушайте</h1>
        <p class="heading__description">В разделе видео доступны видеоклипы на ваши любимые треки, а также прямые трансляции и записи с концертов и фестивалей.</p>
    </header>

    <ul class="icon-list video-clips__features">
        <li class="icon-list__item">
        <svg class="icon-list__icon" xmlns="http://www.w3.org/2000/svg" width="42" height="36" viewBox="0 0 42 36">
            <g fill="none" fill-rule="evenodd" opacity=".4">
            <path fill="#7F7F7F" fill-rule="nonzero" d="M3 2a1 1 0 0 0-1 1v30a1 1 0 0 0 1 1h36a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H3zm0-2h36a3 3 0 0 1 3 3v30a3 3 0 0 1-3 3H3a3 3 0 0 1-3-3V3a3 3 0 0 1 3-3zM1 7h39v2H1V7zm1 20h39v2H2v-2zm8-25h2v7h-2V2zm0 27h2v7h-2v-7zM27 2h2v7h-2V2zm0 27h2v7h-2v-7z"/>
            <path stroke="#7F7F7F" stroke-width="2" d="M18 13.685v8.63L25.912 18 18 13.685z"/>
            </g>
        </svg>

        Видео
        </li>

        <li class="icon-list__item">
        <svg class="icon-list__icon" xmlns="http://www.w3.org/2000/svg" width="36" height="39" viewBox="0 0 36 39">
            <path fill="#000" fill-rule="nonzero" d="M11.82 34.499A5.995 5.995 0 0 1 6 39c-3.314 0-6-2.667-6-5.957s2.686-5.958 6-5.958c1.537 0 2.938.574 4 1.517V8.708c0-.872.573-1.642 1.412-1.898l22-6.722a2.003 2.003 0 0 1 2.5 1.314c.058.19.088.386.088.584V25l-.07-.047C35.49 27.81 33.002 30 30 30c-3.314 0-6-2.667-6-5.957s2.686-5.958 6-5.958c1.554 0 2.97.587 4.036 1.55L34 2 12 9v2.196L34 4.5V7l-22 6.696v20.753l-.18.05zM30 27.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zm-24 9a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" opacity=".2"/>
        </svg>

        Если у трека есть клип
        </li>
    </ul>
    </div>

    <img src="assets/images/tv-video.jpg" srcset="assets/images/tv-video@2x.jpg 2x, assets/images/tv-video@3x.jpg 3x" class="splash__image">
</div>
</section>