<!-- @@master = ../layout.html { "title": "Яндекс Музыка на Smart TV" } -->

<!-- @@block = content -->
  <!-- @@include = ../partials/site-header.html -->
  <!-- @@include = ../partials/new-opportunities.html -->
  <!-- @@include = ../partials/party.html -->
  <!-- @@include = ../partials/karaoke.html -->
  <!-- @@include = ../partials/controlling.html -->
  <!-- @@include = ../partials/video-clips.html -->
  <!-- @@include = ../partials/auth.html -->
  <!-- @@include = ../partials/personalization.html -->
  <!-- @@include = ../partials/platforms.html -->
  <!-- @@include = ../partials/site-footer.html -->
<!-- @@close -->