/* Columns */

.columns {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  --columns: 3;
}

.columns__item {
  width: calc(100% / var(--columns));
  max-width: 360px;
  min-width: 280px;

  text-align: center;

  box-shadow: 0 0.5rem 5rem rgba(127, 127, 127, .2);
}

.columns__item-image {
  max-width: 100%;
  display: block;
}

.columns__item-heading {
  padding: 1.5rem;
}

.columns__item-caption {
  font-size: 1.2rem;
  color: #222222;

  margin: 0 0 1rem 0;
}

.columns__item-description {
  font-size: 0.9rem;
  color: #666666;

  margin: 0;
}

@media (max-width: 1220px) {
  .columns__item {
    max-width: 330px;
  }
}

@media (max-width: 1130px) {
  .columns {
    --columns: 2;
    justify-content: center;
  }

  .columns__item {
    margin: 1rem;
  }
}