/* Coming soon mark */

.coming-soon-mark {
  border-radius: 0.2rem;
  border: solid 1px #f68023;

  background: none;

  font-size: 0.5rem;
	font-weight: bold;
  letter-spacing: 0.1rem;

  color: rgba(245, 128, 35, .9);

  text-transform: uppercase;

  padding: 0.15rem 0.5rem;
}

.coming-soon-mark_block {
  margin-bottom: 1.25rem;
  display: inline-block;
}