/* Heading */

.heading__caption {
  font-size: 2.25rem;
  font-weight: 100;
  line-height: 1.12;
  letter-spacing: -0.05rem;

  color: #222222;

  margin: 0 0 1rem 0;
}

.heading__description {
	letter-spacing: 0.4px;
  color: #666666;

  margin: 0;
}

.heading_center {
  text-align: center;

  max-width: 600px;

  margin: 0 auto;
}

@media (max-width: 1000px) {
  .heading {
    text-align: center;
  }

  .heading__caption {
    font-size: 2rem;
  }
}