/* Section: new opportunities */

.new-opportunities {
  margin-top: -4rem;
}

.new-opportunities__image {
  margin-top: 3.9rem;
}

.new-opportunities__categories {
  padding: 1rem 0;
}

.new-opportunities__category-description {
  margin: 2.5rem auto 0 auto;

  max-width: 700px;

  text-align: center;

  color: #666666;
}

@media (max-width: 1000px) {
  .new-opportunities {
    margin-top: 1rem;
  }
}