/* Platforms */

.platforms__list {
  list-style: none;
  text-align: center;
  
  padding: 0;
}

.platforms__list-item {
  display: inline-block;

  margin: 1rem 2rem 0 2rem;

  text-align: right;
  vertical-align: middle;
}

.platforms__list-image {
  display: block;
}

.platforms__list-mark {
  position: relative;
}

.platforms__list-item_androidtv .platforms__list-mark {
  top: -0.25rem;
}

.platforms__list-item_webos .platforms__list-mark {
  top: 0.75rem;
}

@media (max-width: 1000px) {
  .platforms {
    margin: 3rem 0;
  }
}
