/* Splash */

.splash {
  overflow: hidden;
  max-width: 100%;

  margin-bottom: 4rem;
}

.splash__wrapper {
  display: flex;
  align-items: center;
}

.splash__content {
  flex: 0 0 460px;
}

.splash__image {
  flex-shrink: 0;
  max-width: 100%;
  display: block;
}

.splash_left .splash__content {
  margin-right: 3.5rem;
}

.splash_center .splash__image {
  margin-left: auto;
  margin-right: auto;
}

.splash_right .splash__content {
  margin-left: 3.5rem;
  order: 1;
}

@media (max-width: 1000px) {
  .splash {
    text-align: center;
  }

  .splash__wrapper {
    flex-direction: column;
  }

  .splash__content {
    flex-basis: auto;
    margin-left: 0;
  }

  .splash_left .splash__content {
    margin-right: 0;
  }

  .splash_right .splash__content {
    margin-left: 0;
  }

  .splash__image {
    margin: 2rem 0 0 0 !important;
    order: 1;
    flex: auto;
  }
}