/* Switcher */

.switcher {
  display: flex;

  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  justify-content: center;
}

.switcher__item {
  background: none;
  border: none;

  width: 130px;
  padding: 0.75rem 0.5rem;
  margin: 0 0.5rem;

  border-radius: 0.75rem;

  font-size: 0.6rem;
  font-weight: bold;
  color: rgba(127, 127, 127, .4);
  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.switcher__item:focus,
.switcher__item:hover {
  outline: none;

  box-shadow: 0 0 1.5rem rgba(127, 127, 127, .1);
}

.switcher__icon {
  opacity: .4;

  height: 2rem;

  margin: 0 auto 0.5rem auto;

  align-self: flex-start;
  margin-bottom: 0.75rem;
}

.switcher__item_active {
  background-color: rgba(73, 130, 226, 0.09);
  color: #7f7f7f;
}

.switcher__item_active .switcher__icon {
  opacity: 1;
}

.switcher-content__item {
  display: none;
}

.switcher-content__item_active {
  display: block;
}

@media (max-width: 1000px) {
  .switcher {
    justify-content: flex-start;
  }

  .switcher__item {
    width: 100px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}